# cat /usr/share/slapd/slapd.conf /etc/ldap/slapd.conf.append > /etc/ldap/slapd.conf
export PASSWD="$(slappasswd -h {SSHA} -s ${PASSWORD})"
cat > /tmp/update-config.sed <<EOF
/^\s*moduleload\b/cmoduleload\t\tback_${BACKEND}
/^\s*backend\b/cbackend\t\t${BACKEND}
/^\s*database\b/cdatabase\t\t${BACKEND}
/^\s*suffix\b/csuffix\t\t"${BASEDN}"
/^\s*rootdn\b/crootdn\t\t"cn=admin,${BASEDN}"
/^\s*rootpw\b/crootpw\t\t${PASSWD}
/^\s*directory\b/cdirectory /var/lib/ldap
s/^\s*access/# &/
EOF
sed -f /tmp/update-config.sed /etc/ldap/slapd.conf.append > /etc/ldap/slapd.conf
echo "$ACCESS_RULES" | sed 's, access to,\
access to,g;s, by,\
\tby,g' >> /etc/ldap/slapd.conf
# rm /tmp/update-config.sed
# Add additional indexes to the end of the slapd.conf file
echo "$INDEXES" | sed 's, index,\
index,g' >> /etc/ldap/slapd.conf
if test "$MEMBEROF" = "1"; then
    cat >> /etc/ldap/slapd.conf <<EOF
moduleload refint
overlay refint
refint_attributes member
refint_nothing "cn=admin,${BASEDN}"
moduleload memberof
overlay memberof
memberof-group-oc groupOfNames
memberof-member-ad member
memberof-memberof-ad memberOf
memberof-refint true
EOF
fi
for schema in $SCHEMAS; do
    echo "include /etc/openldap/schema/${schema}.schema" >> /etc/ldap/slapd.conf
done
if test -e /ssl/live/${DOMAIN}/chain.pem \
        -a -e /ssl/live/${DOMAIN}/privkey.pem \
        -a -e /ssl/live/${DOMAIN}/cert.pem; then
    cat >> /etc/ldap/slapd.conf <<EOF
TLSCipherSuite HIGH:MEDIUM:-SSLv2:-SSLv3
TLSCertificateFile /ssl/live/${DOMAIN}/cert.pem
TLSCertificateKeyFile /ssl/live/${DOMAIN}/privkey.pem
TLSCACertificateFile /ssl/live/${DOMAIN}/chain.pem
# apk add ca-certificates +:
#TLSCACertificatePath /usr/share/ca-certificates/mozilla
EOF
    SSL_HOSTS=" ldaps:/// ldapi:///"
elif test -e /ssl/${DOMAIN}-ca.crt \
        -a -e /ssl/${DOMAIN}.key \
        -a -e /ssl/${DOMAIN}.pem; then
    cat >> /etc/ldap/slapd.conf <<EOF
TLSCipherSuite HIGH:MEDIUM:-SSLv2:-SSLv3
TLSCertificateFile /ssl/${DOMAIN}.pem
TLSCertificateKeyFile /ssl/${DOMAIN}.key
TLSCACertificateFile /ssl/${DOMAIN}-ca.crt
# apk add ca-certificates +:
#TLSCACertificatePath /usr/share/ca-certificates/mozilla
EOF
    SSL_HOSTS=" ldaps:/// ldapi:///"
    SSL_HOSTS=""
fi

